<a href="https://colab.research.google.com/github/smartinternz02/SI-GuidedProject-581720-1694629782/blob/main/ASSIGNMENT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


PRATYUSH TYAGI
21BCE2747
VIT **VELLORE**
---

In [ ]:
import pandas as pd

**TASK 1**

In [ ]:
import numpy as np

In [ ]:
df = {'name':['A','B','C','D','E','F','G','H','I','J'],'Age':[19,22,12,18,19,23,42,34,58,60],'Gender':['M','F','M','M','F','F','M','F','F','M'],'idnum':[1,2,3,4,5,6,7,8,9,10],'classnum':[11,23,12,34,56,1,2,3,4,5]}

In [ ]:

df=pd.DataFrame(df)
df

  name  Age Gender  idnum  classnum
0    A   19      M      1        11
1    B   22      F      2        23
2    C   12      M      3        12
3    D   18      M      4        34
4    E   19      F      5        56
5    F   23      F      6         1
6    G   42      M      7         2
7    H   34      F      8         3
8    I   58      F      9         4
9    J   60      M     10         5

TASK 2

In [ ]:
df.info

<bound method DataFrame.info of   name  Age Gender  idnum  classnum
0    A   19      M      1        11
1    B   22      F      2        23
2    C   12      M      3        12
3    D   18      M      4        34
4    E   19      F      5        56
5    F   23      F      6         1
6    G   42      M      7         2
7    H   34      F      8         3
8    I   58      F      9         4
9    J   60      M     10         5>

TASK 3

In [ ]:
df.describe

<bound method NDFrame.describe of   name  Age Gender  idnum  classnum
0    A   19      M      1        11
1    B   22      F      2        23
2    C   12      M      3        12
3    D   18      M      4        34
4    E   19      F      5        56
5    F   23      F      6         1
6    G   42      M      7         2
7    H   34      F      8         3
8    I   58      F      9         4
9    J   60      M     10         5>

In [ ]:
df.shape

(10, 5)

In [ ]:
df.median()

<ipython-input-19-6d467abf240d>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

Age         22.5
idnum        5.5
classnum     8.0
dtype: float64

In [ ]:

df.mean()

<ipython-input-20-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

Age         30.7
idnum        5.5
classnum    15.1
dtype: float64

In [ ]:
df.mode()

  name   Age Gender  idnum  classnum
0    A  19.0      F      1         1
1    B   NaN      M      2         2
2    C   NaN    NaN      3         3
3    D   NaN    NaN      4         4
4    E   NaN    NaN      5         5
5    F   NaN    NaN      6        11
6    G   NaN    NaN      7        12
7    H   NaN    NaN      8        23
8    I   NaN    NaN      9        34
9    J   NaN    NaN     10        56

Task **4**

In [ ]:
df.loc[4]

name         E
Age         19
Gender       F
idnum        5
classnum    56
Name: 4, dtype: object

TASK **5**

In [ ]:
df.isnull().any()

name        False
Age         False
Gender      False
idnum       False
classnum    False
dtype: bool